{% extends 'base.html' %}

{% block content %}

<h1>Shop Page</h1>
{% for p in products %}
<div class="blogCenter">
    <a class="card" style="width: 10vw;" href='{{ url_for("shop.individualProduct", id=p.id ) }}'>
        <img src="{{ p.image }}" class="card-img-top" alt="post image">
        <div class="card-body">
          <h5 class="card-title">{{ p.name }}</h5>
          <p class="card-text">{{ p.description }}</p>
          <h3>{{ p.price }}</h3> <button class="btn btn-primary">Add To Cart</button>
        </div>
      </div>
</div>
{% endfor %}
{% endblock content %}